<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/addressbook-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Address Book </h3>
  <p class="link-style text">
    A collection of my contacts on the internet.
    <br/><br/>
    Clicking on the names will redirect you to their site.
  </p>
  <br /><br/>

  <!-- CONTACTS -->
    <p class="text">
      <a href="http://instagram.com/jivinci" target="_blank">
        Jivinci
      </a>
    </p>
    <p class="text">
      <a href="http://diegoameerali.com" target="_blank">
        Diego Ameerali
      </a>
    </p>
    <br />


  <a class="link-style"> Fin </a>
</div>

<%- include("partials/footer"); -%>
