<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/addressbook-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Address Book </h3>
  <p class="link-style text">
    A collection of my contacts on the internet.
    <br/>
    Clicking on the names will redirect you to their site.
  </p>
  <br /><br/>

  <!-- CONTACTS -->
  <!-- A's -->

  <!-- B's -->

  <!-- C's -->

  <!-- D's -->
    <p class="text">
      <a href="http://diegoameerali.com" target="_blank">
        Diego Ameerali
      </a>
    </p>
  <!-- E's -->

  <!-- F's -->

  <!-- G's -->
    <p class="text">
      <a href="https://www.linkedin.com/in/gregory-bainathsah-0078a0161/" target="_blank">
        Gregory Bainathsah
      </a>
    </p>
  <!-- H's -->

  <!-- I's -->

  <!-- J's -->
    <p class="text">
      <a href="http://instagram.com/jivinci" target="_blank">
        Jivinci
      </a>
    </p>
  <!-- K's -->

  <!-- L's -->

  <!-- M's -->

  <!-- N's -->

  <!-- O's -->

  <!-- P's -->

  <!-- Q's -->

  <!-- R's -->
    <p class="text">
      <a href="http://ramiro.me" target="_blank">
        ramiro
      </a>
    </p>
  <!-- S' -->

  <!-- T's -->
    <p class="text">
      <a href="https://vagabond.link" target="_blank">
        Tengyo Kura
      </a>
    </p>
  <!-- U's -->

  <!-- V's -->

  <!-- W's -->
    <p class="text">
      <a href="http://waisieli.com" target="_blank">
        Waisie Li
      </a>
    </p>
    <!-- X' -->

  <!-- Y's -->

  <!-- Z's -->


  <br />
  <a class="link-style"> Fin </a>
</div>

<%- include("partials/footer"); -%>
