<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/artworks-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Artworks </h3>
  <p class="link-style text">
    Sometimes, I sketch my emotions. <br /><br />By clicking on the artworks, you will be redirected to KnownOrigin where you'll be able to get a limited piece of my work on the Ethereum network.
  </p>
  <br /><br />

  <!-- Artwork, when clicked, opens a list with links to source -->
  <div class="text-center">

    <!-- It's not dark yet ARTWORK -->
      <div class="text-center">
        <a href="https://knownorigin.io/edition/143400" target="_blank">
          <img src="/img/artworks/IMG_bob_dylan_not_dark_yet.jpg" alt="..." class="img-full">
        </a>
        <br />
      </div>
      <div class="text-center">
        <h3> It's not dark yet </h3>
        <p class="text"> "Sometimes my burden is more than I can bear. It's not dark yet, but it's gettin' there. - Bob Dylan" </p>
        <br /> <br />
      </div><br />

    <!-- Last Decade ARTWORK -->
      <div class="text-center">
        <a href="https://knownorigin.io/edition/140875" target="_blank">
          <img src="/img/artworks/IMG_last_decade.jpg" alt="..." class="img-full">
        </a>
        <br />
      </div>
      <div class="text-center">
        <h3> Last Decade </h3>
        <p class="text"> "When I be forever gone, will I be in your memory?" </p>
        <br /> <br />
      </div><br />

    <!-- In Ether, I believe ARTWORK -->
      <div class="text-center">
        <a href="https://knownorigin.io/edition/115375" target="_blank">
          <img src="/img/artworks/IMG_in_ether_we_believe.jpg" alt="..." class="img-full">
        </a>
        <br />
      </div>
      <div class="text-center">
        <h3> In Ether, I believe </h3>
        <p class="text"> "There is a great chance the economy of Suriname can be saved, if Suriname can find a way to adopt Ether as its native currency." </p>
        <br /> <br />
      </div><br />

    <!-- Magic Internet Money ARTWORK -->
      <div class="text-center">
        <a href="https://knownorigin.io/edition/109025" target="_blank">
          <img src="/img/artworks/IMG_digital_unicorn.jpg" alt="..." class="img-full">
        </a>
        <br />
      </div>
      <div class="text-center">
        <h3> Digital Unicorns </h3>
        <p class="text"> "Ethereum is the unicorn of crypto. The magic internet money of the next decade and beyond." </p>
        <br /> <br />
      </div><br />

    <!-- STEVE JOBS ARTWORK -->
      <div class="text-center">
        <a href="https://knownorigin.io/edition/105950" target="_blank">
          <img src="/img/artworks/IMG_steve_jobs.jpg" alt="..." class="img-full">
        </a>
        <br />
      </div>
      <div class="text-center">
        <h3> Steve Jobs </h3>
        <p class="text"> "One way to remember who you are is to remember who your heroes are. Here’s to the crazy ones." </p>
        <br /> <br />
      </div><br />

    <!-- SATOSHI ARTWORK -->
    <% if(setting === "dark") { %>
      <a href="https://knownorigin.io/edition/104750" target="_blank">
        <img src="/img/artworks/IMG_satoshi-gif-dark.gif" alt="animated" class="img-full">
      </a>
    <% } else { %>
      <a href="https://knownorigin.io/edition/105150" target="_blank">
        <img src="/img/artworks/IMG_satoshi-gif-light.gif" alt="animated" class="img-full">
      </a>
    <% } %>
    <br />
  </div>
  <div class="text-center">
    <h3> Satoshi </h3>
    <p class="text"> "An icon that started a silent revolution against the banks in the Digital age." </p>
    <br /> <br />
  </div><br />

<!-- DISCONNECT ARTWORK -->
  <div class="text-center">
    <a href="https://knownorigin.io/edition/103550" target="_blank">
      <img src="/img/artworks/IMG_disconnect.jpg" alt="..." class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Disconnect </h3>
    <p class="text"> "Never get too attached to anything." </p>
    <br /> <br />
  </div><br />

<!-- ETHER ARTWORK -->
  <div class="text-center">
    <a href="https://knownorigin.io/edition/98300" target="_blank">
      <img src="/img/artworks/IMG_ether-gif.gif" alt="animated" class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Ether </h3>
    <p class="text"> "The native cryptocurrency of the Ethereum network, a foundation for a new era of the internet." </p>
    <br /> <br />
  </div><br />

<!-- MISUNDERSTOOD ARTWORK -->
  <div class="text-center">
    <a href="https://knownorigin.io/edition/91400" target="_blank">
      <img src="/img/artworks/IMG_misunderstood-dark.jpg" alt="..." class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Misunderstood </h3>
    <p class="text"> "Sometimes, I wish I was ..." </p>
    <br /> <br />
  </div><br />

<!-- ON MY MIND ARTWORK -->
  <div class="text-center">
    <a href="https://knownorigin.io/edition/88250" target="_blank">
      <img src="/img/artworks/IMG_on_my_mind-dark.jpg" alt="..." class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> On my mind </h3>
    <p class="text"> "Thoughts flow through my mind in a disorderly fashion, yet perfectly in order when zoomed out." </p>
    <br /> <br />
  </div><br />

<!-- LONE ROAD ARTWORK -->
  <div class="text-center">
    <a href="https://knownorigin.io/edition/87550" target="_blank">
      <img src="/img/artworks/IMG_lone_road-dark.jpg" alt="..." class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Lone road </h3>
    <p class="text"> "Near a road in the midst of nowhere, we grew." </p>
    <br /> <br />
  </div><br />

<!-- A TIMELESS DRIFT ARTWORK -->
  <div class="text-center">
    <a href="https://knownorigin.io/edition/86875" target="_blank">
      <img src="/img/artworks/IMG_a_timeless_drift-dark.jpg" alt="..." class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> A timeless drift </h3>
    <p class="text"> "Timelessly drifting through life to find a sense of meaning." </p>
    <br /> <br />
  </div><br />

<!-- TELL ME A STORY ARTWORK -->
  <div class="text-center">
    <a href="https://knownorigin.io/edition/85625" target="_blank">
      <img src="/img/artworks/IMG_tell_me_a_story-gif.gif" alt="animated" class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Tell me a story </h3>
    <p class="text"> "From ancient times, fantasies to a traveler's adventure, wonderful stories are to be told." </p>
    <br /> <br />
  </div><br />

<!-- DARKNESS ARTWORK -->
  <div class="text-center">
    <a href="https://knownorigin.io/edition/85275" target="_blank">
      <img src="/img/artworks/IMG_JIV_art-dark.jpg" alt="..." class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Darkness </h3>
    <p class="text"> "The spectrum of my life is either in a very dark space, or a calm one. I yet have to master in between." </p>
    <br /> <br />
  </div><br />

  <a class="link-style"> Fin </a>
</div>

<%- include("partials/footer"); -%>
