<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/artworks-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Artworks </h3>
  <p class="link-style text">
    Sometimes, I sketch my emotions. <br /><br />By clicking on the artworks, you will be redirected to KnownOrigin where you'll be able to get a limited piece of my work on the Ethereum network.
  </p>
  <br /><br />

  <!-- Artwork, when clicked, opens a list with links to source -->
  <div class="text-center">
    <a href="https://knownorigin.io/edition/103550" target="_blank">
      <img src="/img/artworks/IMG_disconnect.jpg" alt="..." class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Disconnect </h3>
    <p> "Never get too attached to anything." </p>
    <br /> <br />
  </div><br />

  <div class="text-center">
    <a href="https://knownorigin.io/edition/98300" target="_blank">
      <img src="/img/artworks/IMG_ether-gif.gif" alt="animated" class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Ether </h3>
    <p> "The native cryptocurrency of the Ethereum network, a foundation for a new era of the internet." </p>
    <br /> <br />
  </div><br />

  <div class="text-center">
    <a href="https://knownorigin.io/edition/91400" target="_blank">
      <img src="/img/artworks/IMG_misunderstood-dark.jpg" alt="..." class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Misunderstood </h3>
    <p> "Sometimes, I wish I was ..." </p>
    <br /> <br />
  </div><br />

  <div class="text-center">
    <a href="https://knownorigin.io/edition/88250" target="_blank">
      <img src="/img/artworks/IMG_on_my_mind-<%=setting%>.jpg" alt="..." class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> On my mind </h3>
    <p> "Thoughts flow through my mind in a disorderly fashion, yet perfectly in order when zoomed out." </p>
    <br /> <br />
  </div><br />

  <div class="text-center">
    <a href="https://knownorigin.io/edition/87550" target="_blank">
      <img src="/img/artworks/IMG_lone_road-original.jpg" alt="..." class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Lone road </h3>
    <p> "Near a road in the midst of nowhere, we grew." </p>
    <br /> <br />
  </div><br />

  <div class="text-center">
    <a href="https://knownorigin.io/edition/86875" target="_blank">
      <img src="/img/artworks/IMG_a_timeless_drift-original.jpg" alt="..." class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> A timeless drift </h3>
    <p> "Timelessly drifting through life to find a sense of meaning." </p>
    <br /> <br />
  </div><br />

  <div class="text-center">
    <a href="https://knownorigin.io/edition/85625" target="_blank">
      <img src="/img/artworks/IMG_tell_me_a_story-gif.gif" alt="animated" class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Tell me a story </h3>
    <p> "From ancient times, fantasies to a traveler's adventure, wonderful stories are to be told." </p>
    <br /> <br />
  </div><br />

  <div class="text-center">
    <a href="https://knownorigin.io/edition/85275" target="_blank">
      <img src="/img/artworks/IMG_JIV_art-original.jpg" alt="..." class="img-full">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Darkness </h3>
    <p> "The spectrum of my life is either in a very dark space, or a calm one. I yet have to master in between." </p>
    <br /> <br />
  </div><br />

  <a class="link-style"> Fin </a>
</div>

<%- include("partials/footer"); -%>
