<%- include("partials/header"); -%>
<%- include("partials/button"); -%>

<h1 style"text-align: center"><a href="/" class="linkTitle">Timothy Lie</a></h1>

<div class="container-fluid compose">
  <h4>Net Worth</h4>
  <form class="" action="/compose-networth" method="post">
    <div class="form-group">
      <textarea class="form-control" name="label" placeholder="Date" rows="1" cols="5"></textarea>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="value" placeholder="Net Worth in US Dollar (/1000)" rows="1" cols="5"></textarea>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="valueBTC" placeholder="Net Worth in Satoshi (/1000)" rows="1" cols="5"></textarea>
    </div>
    <button class="btn" type="submit" name="button">Publish</button>
  </form>

  <br />
  <a href="/compose">Go back</a>
</div>

<%- include("partials/footer"); -%>
