
<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/compose-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Compose </h3>
  <p class="link-style text">
    What are your thoughts?
  </p>
  <br/>

  <div class="container-fluid compose">
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <textarea class="form-control" name="postBody" rows="5" cols="50"></textarea>
      </div>
      <button class="btn" type="submit" name="button">Publish</button>
    </form>

    <!-- PUBLISH FINANCIAL JOURNAL (ARCHIVED) -->
    <!-- <br /> <br />
    <a class="link-style" href="/compose-networth">Add Net Worth</a>
    <br/>
    <a class="link-style" href="/compose-portfolio">Update Portfolio</a> -->
  </div>
</div>

<%- include("partials/footer"); -%>
