<%- include("partials/header"); -%>
<%- include("partials/button"); -%>

<h1 style"text-align: center"><a href="/" class="linkTitle">Timothy Lie</a></h1>

<div class="container-fluid compose">
  <h4>Compose</h4>
  <form class="" action="/compose" method="post">
    <div class="form-group">
      <textarea class="form-control" name="postBody" rows="5" cols="50"></textarea>
    </div>
    <button class="btn" type="submit" name="button">Publish</button>
  </form>
  <br /> <br />
    <a class="link-style" href="/compose-networth">Add Net Worth</a>
</div>

<%- include("partials/footer"); -%>
