<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/financial-journal-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Financial Journal </h3>
  <p class="link-style text">
    Below are links to my financial performance in Satoshi, Ether and US Dollar.
  </p>
  <br /><br/>

<!-- LINKS -->

  <a class="link-style" href="/networth-btc">Financial Performance in Satoshi</a>
  <br />
  <a class="link-style" href="/networth-eth">Financial Performance in Ether</a>
  <br />
  <a class="link-style" href="/networth-usd">Financial Performance in US Dollar</a>
  <br /><br /><br />

<!-- JOURNAL POST (FINANCIAL) -->

  <p class="text">
    "I increased my Dogecoin trading position from 2 to 3.8 percent, aiming for a 7 percent by the time Santa Claus comes."
  </p>
  <br/>

  <img src="/img/financial-journal/IMG_portfolio_3increase-<%=setting%>.jpg" alt="..." class="img-preview">

</div>

<%- include("partials/footer"); -%>
