<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/finance-book-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Book of Finance </h3>
  <p class="link-style text">
    In the Book of Finance is where I keep my personal Financial Journal and of my Investment Fund.
    <br/><br/>
    I started managing my personal financial journal since 2014, learned to make financial statements in 2016 and since then turned my financial performance into graphs.
    <br/><br/>
    At the end of 2019, I started a test fund called TL Investment Fund to develop some skills in practice.
    <br/><br/>
    Below are graphs to my personal Financial Journal and the Investment Fund.
  </p>
  <br/>

  <!-- Graphs -->
    <div class="text-center">
      <h3 class="title-style"> Graphs </h3>
    </div>

    <a href="/financial-journal">Financial Journal ↠</a>
    <br />
    <a href="/fund"> Fund ↠</a>
    <br/>

  <br/>
  <p class="link-style"> Fin </p>
</div>

<%- include("partials/footer"); -%>
