<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/financial-journal-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Financial Journal </h3>
  <p class="link-style text">
    Below are links to my financial performance in Satoshi, Ether and US Dollar.
  </p>
  <br /><br/>

  <!-- LINKS -->
  <div class="text-center">
    <h3 class="title-style"> Links </h3>
  </div>

  <a href="/fp-btc">Financial Performance in Satoshi</a>
  <br />
  <a href="/fp-eth">Financial Performance in Ether</a>
  <br />
  <a href="/fp-usd">Financial Performance in US Dollar</a>

  <br /><br /><br /><br />

  <!-- JOURNAL POST (FINANCIAL) -->
  <div class="text-center">
    <h3 class="title-style"> Journal </h3>
    <p class="link-style text">
      Personal financial thoughts why I make certain investment choices throughout time.
    <br/><br/>
  </div>

  <!-- Post 2 -->
  <p class="text">
    "My portfolio is heavily hedged against the global economic meltdown, almost 90% of my capital in precious metals and cryptocurrencies combined."
  </p>
  <p class="date"> Wed Mar 25 2020 </p>
  <br />

  <!-- Post 1 -->
  <p class="text">
    "I positioned my capital against the establishment since 2015. First started with Bitcoin, and then in 2016 with Ethereum. I then shifted some crypto gains to gold & silver in December 2017. Since then I've been holding these long term positions, only adding more throughout the years until the next scarce assets bullrun after a global crisis."
  </p>
  <p class="date"> Thu Mar 19 2020 </p>
  <br />

  <a class="link-style"> Fin </a>
</div>

<%- include("partials/footer"); -%>
