<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <h2 class="title-style"> 💰 </h2>
  <h3 class="title-style"> Financial Journal </h3>
  <p class="link-style text">
    Below are links to my financial performance in Satoshi, Ether and US Dollar.
  </p>
  <br /><br/>

  <!-- <p>
    "I started my financial journey in 2014, and began tracking it visually two years later.
    By doing this, it made me see things in a different perspective."
  </p>
  <br/> -->

  <a class="link-style" href="/networth-btc">Financial Performance in Satoshi</a>
  <br />
  <a class="link-style" href="/networth-eth">Financial Performance in Ether</a>
  <br />
  <a class="link-style" href="/networth-usd">Financial Performance in US Dollar</a>

</div>

<%- include("partials/footer"); -%>
