<%- include("partials/header"); -%>

<div class="container-fluid home">
  <%- include("partials/button"); -%>
  <h1 name="test" style"text-align: center"><a href="/" class="linkTitle">Timothy Lie</a></h1>

  <p>
    "I started my financial journey in 2014, and began visualizing it two years later.
    By doing this, it made me see things in a different perspective."
  </p>
  <br />
  <a class="link-style" href="/networth-btc">Financial Performance in Satoshi</a>
  <br />
  <a class="link-style" href="/networth-eth">Financial Performance in Ether</a>
  <br />
  <a class="link-style" href="/networth-usd">Financial Performance in US Dollar</a>
  <br />
  <br />
  <a class="link-style" href="/">↞ Go back ↞</a>



</div>

<%- include("partials/footer"); -%>
