<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/fund-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Fund </h3>
  <p class="link-style text">
    I started the TL Fund in November 2019. It is a prototype created to develop some skills through real life experience of managing a fund.
    <br/><br/>
    You can follow live broadcast of the Fund at Telegram by
    <a href="https://t.me/TLfund" target="_blank">
      clicking here.
    </a>
    <br/><br/>
    I also started monitoring certain goods in Suriname, and placed those data in a graph called the Food & Beverages Index.
    <br/><br/>
    Below are graphs to the perfomance of the fund and the index.
  </p>
  <br/><br/>

  <!-- Graphs -->
    <div class="text-center">
      <h3 class="title-style"> Graphs </h3>
    </div>

    <a href="/fp-fund">Financial Performance of the Fund ↠</a>
    <br />
    <a href="/fp-food-beverages-index">Food & Beverages Index ↠</a>

  <br/><br/><br/><br/>

  <!-- Journal Post (Financial) -->
    <div class="text-center">
      <h3 class="title-style"> Fund's Journal </h3>
      <p class="link-style text">
        By clicking on the journals below, you'll be redirected to Notion for the complete article.
      </p>
      <br/><br/>
    </div>

    <!-- Post 14 -->
      <p class="text">
        <a href="https://www.notion.so/2020-06-26-Report-of-June-2020-db8de38d5ee04749a8fb3741be2244a2" target="_blank">
          "Raised new capital, initiated a new subsidiary fund and the biggest losses all happened this month."
        </a>
      </p>
      <p class="date"> Fri Jun 26 2020 </p>
      <br/>

    <!-- Post 13 -->
      <p class="text">
        <a href="https://www.notion.so/2020-06-16-ETH-A-Vault-10085-80b1ec7a531e41cc9955fa9c24488754" target="_blank">
          "Opened a vault on Oasis and placed Ether as collateral to take out a loan of 250 Dai as insurance for dips in the crypto market."
        </a>
      </p>
      <p class="date"> Tue Jun 16 2020 </p>
      <br/>

    <!-- Post 12 -->
      <p class="text">
        <a href="https://www.notion.so/2020-06-16-GBx-Fund-3ac65124a1b84baa8756a8172651a39e" target="_blank">
          "Funded $500 to GBx, a fund managed by Gregory Bainathsah."
        </a>
      </p>
      <p class="date"> Tue Jun 16 2020 </p>
      <br/>

    <!-- Post 11 -->
      <p class="text">
        <a href="https://www.notion.so/2020-06-15-1000-d12c48d8f22d4c29b2e9774223831f2b" target="_blank">
          "I issued 1000 new shares at $1 a piece for trying out new things."
        </a>
      </p>
      <p class="date"> Mon Jun 15 2020 </p>
      <br/>

    <!-- Post 10 -->
      <p class="text">
        <a href="https://www.notion.so/2020-05-31-ETH-BTC-efd5f23aa01b4cbba2351243f64747a4" target="_blank">
          "I took a short position on Ether against Bitcoin. The goal is to gain more Ether regardless of the crypto/fiat action."
        </a>
      </p>
      <p class="date"> Sun May 31 2020 </p>
      <br/>

    <!-- Post 9 -->
      <p class="text">
        <a href="https://www.notion.so/2020-05-30-800-5bcc42f493d9492494a4a544244beb06" target="_blank">
          "I issued 800 new shares at $1 a piece."
        </a>
      </p>
      <p class="date"> Sat May 30 2020 </p>
      <br/>

    <!-- Post 8 -->
      <p class="text">
        <a href="https://www.notion.so/2020-05-30-Into-the-Ether-ebb3fb21930e4e658f1a6c0e6a20fa8b" target="_blank">
          "Ethereum is the most undervalued asset on the market for a time when the world is full of tension caused by centralized systems."
        </a>
      </p>
      <p class="date"> Fri May 29 2020 </p>
      <br/>

    <!-- Post 7 -->
      <p class="text">
        <a href="https://www.notion.so/2020-05-19-Doge-Long-position-d5fe12b057574e7fab1915f326773f88" target="_blank">
          "I took a full size long position again on DOGE based on my previous analysis."
        </a>
      </p>
      <p class="date"> Tue May 19 2020 </p>
      <br/>

    <!-- Post 6 -->
      <p class="text">
        <a href="https://www.notion.so/2020-04-30-First-Month-that-Share-Price-is-above-initial-Funding-price-603e87c2f11f4375a0c93558a65897ad" target="_blank">
          "This is the first month since the start of the fund that its price of the share is higher than when initially started. I issued 200 shares @ $1 a share in November 2019."
        </a>
      </p>
      <p class="date"> Thu Apr 30 2020 </p>
      <br/>

    <!-- Post 5 -->
      <p class="text">
        <a href="https://www.notion.so/2020-04-06-Why-to-hedge-in-Gold-df6358748f1041b9bc29cf451ce89090" target="_blank">
          "Time to purchase gold coins while you still can. It’s a hedge against your government’s mismanagement and their solution to fix the problem by inflating the currency supply, which affects your currency’s purchasing power."
        </a>
      </p>
      <p class="date"> Mon Apr 06 2020 </p>
      <br/>

    <!-- Post 4 -->
      <p class="text">
        <a href="https://www.notion.so/2020-03-24-COVID-19-Watchlist-a6728c98283b4d8aabf1cf88f2045eed" target="_blank">
          "I’ve made a watchlist of some pharmaceutical companies working on the COVID-19 virus."
        </a>
      </p>
      <p class="date"> Tue Mar 24 2020 </p>
      <br/>

    <!-- Post 3 -->
      <p class="text">
        <a href="https://www.notion.so/2020-03-21-The-COVID-19-Pandemic-which-caused-the-next-Economic-Meltdown-3b71c50f6cfe40df8c580b78deb4156a" target="_blank">
          "Amidst the COVID-19 Pandemic, almost every market index of the world crashed spectacularly ... except from China."
        </a>
      </p>
      <p class="date"> Sat Mar 21 2020 </p>
      <br/>

    <!-- Post 2 -->
      <p class="text">
        <a href="https://www.notion.so/2019-11-20-Discounting-the-MyBitcoinTube-Investment-020c9367fa1b45058f901f3529cfa95a" target="_blank">
          "I invested in a sketchy pyramid scheme and discounted it 100% from the balance sheet, and now slowly working to get the share of the fund back to $1.00."
        </a>
      </p>
      <p class="date"> Tue Nov 26 2019 </p>
      <br/>

    <!-- Post 1 -->
      <p class="text">
        <a href="https://www.notion.so/2019-04-26-An-Analysis-of-the-SRD-Devaluation-against-US-Dollar-after-the-2020-Surinamese-Election-a6aa34d0ad9d454a88b02346d623a7ea" target="_blank">
          "An Analysis of the SRD Devaluation against US Dollar after the 2020 Surinamese Election."
        </a>
      </p>
      <p class="date"> Fri Apr 26 2019 </p>
      <br/>

  <p class="link-style"> Fin </p>
</div>

<%- include("partials/footer"); -%>
