<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/investment-fund-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Investment Fund </h3>
  <p class="link-style text">
    I started the TL Investment Fund in November 2019. This is a test fund created to develop some skills in practice.
    <br/><br/>
    You can follow live broadcast of the Fund at Telegram by
    <a href="https://t.me/TLinvestmentfund" target="_blank">
      clicking here.
    </a>
    <br/><br/>
    I also started monitoring certain goods in Suriname, and placed those data in a graph called the Food & Beverages Index.
    <br/><br/>
    Below are graphs to the perfomance of the fund and the index.
  </p>
  <br/><br/>

  <!-- Graphs -->
    <div class="text-center">
      <h3 class="title-style"> Graphs </h3>
    </div>

    <a href="/fp-investment-fund">Financial Performance of the TL Investment Fund ↠</a>
    <br />
    <a href="/fp-food-beverages-index">Food & Beverages Index ↠</a>

  <br/><br/><br/><br/>

  <!-- Journal Post (Financial) -->
    <div class="text-center">
      <h3 class="title-style"> Fund's Journal </h3>
      <p class="link-style text">
        By clicking on the journals below, you'll be redirected to Cent or Quip for the complete article.
      </p>
      <br/><br/>
    </div>

    <!-- Post 8 -->
      <p class="text">
        <a href="https://beta.cent.co/+5trgmj" target="_blank">
          "Ethereum is the most undervalued asset on the market for a time when the world is full of tension caused by centralized systems."
        </a>
      </p>
      <p class="date"> Fri May 29 2020 </p>
      <br/>

    <!-- Post 7 -->
      <p class="text">
        <a href="https://timothylie.quip.com/h2mFAwSkmxyI" target="_blank">
          "I took a full size long position again on DOGE based on my previous analysis."
        </a>
      </p>
      <p class="date"> Tue May 19 2020 </p>
      <br/>

    <!-- Post 6 -->
      <p class="text">
        <a href="https://timothylie.quip.com/aHeTAOGspunV" target="_blank">
          "This is the first month since the start of the fund that its price of the share is higher than when initially started. I issued 200 shares @ $1 a share in November 2019."
        </a>
      </p>
      <p class="date"> Thu Apr 30 2020 </p>
      <br/>

    <!-- Post 5 -->
      <p class="text">
        <a href="https://timothylie.quip.com/SBQxAODbyOXk" target="_blank">
          "Time to purchase gold coins while you still can. It’s a hedge against your government’s mismanagement and their solution to fix the problem by inflating the currency supply, which affects your currency’s purchasing power."
        </a>
      </p>
      <p class="date"> Mon Apr 06 2020 </p>
      <br/>

    <!-- Post 4 -->
      <p class="text">
        <a href="https://timothylie.quip.com/vVxwAHHyAPma" target="_blank">
          "I’ve made a watchlist of some pharmaceutical companies working on the COVID-19 virus."
        </a>
      </p>
      <p class="date"> Tue Mar 24 2020 </p>
      <br/>

    <!-- Post 3 -->
      <p class="text">
        <a href="https://timothylie.quip.com/vvxCAiMBSMvQ" target="_blank">
          "Amidst the COVID-19 Pandemic, almost every market index of the world crashed spectacularly ... except from China."
        </a>
      </p>
      <p class="date"> Sat Mar 21 2020 </p>
      <br/>

    <!-- Post 2 -->
      <p class="text">
        <a href="https://timothylie.quip.com/5a1hAHaVC7QF" target="_blank">
          "I invested in a sketchy pyramid scheme and discounted it 100% from the balance sheet, and now slowly working to get the share of the fund back to $1.00."
        </a>
      </p>
      <p class="date"> Tue Nov 26 2019 </p>
      <br/>

    <!-- Post 1 -->
      <p class="text">
        <a href="https://timothylie.quip.com/M4U2A7BDJvC0" target="_blank">
          "An Analysis of the SRD Devaluation against US Dollar after the 2020 Surinamese Election."
        </a>
      </p>
      <p class="date"> Fri Apr 26 2019 </p>
      <br/>

  <p class="link-style"> Fin </p>
</div>

<%- include("partials/footer"); -%>
