<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/investment-fund-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Investment Fund </h3>
  <p class="link-style text">
    I started the TL Investment Fund in November 2019. This is a test fund created to develop some skills in practice.
    <br/><br/>
    You can follow live broadcast of the Fund at Telegram by
    <a href="https://t.me/TLinvestmentfund" target="_blank">
      clicking here.
    </a>
    <br/><br/>
  </p>
  <br /><br/>

  <!-- LINKS -->

    <a class="link-style" href="/fp-investment-fund">Financial Performance of the TL Investment Fund</a>
    <br />
    <a class="link-style" href="/fp-food-beverages-index">Food & Beverages Index</a>
    <br /><br /><br />

  <!-- JOURNAL POST (FINANCIAL) -->

    <!-- <p class="text">
      ""
    </p>
    <br/> -->

  </div>

  <%- include("partials/footer"); -%>
