<%- include("partials/header"); -%>

<div class="container-fluid">
  <nav class="navbar navbar-fixed-top <%=setting%>">
    <%- include("partials/button"); -%>
    <h1 style"text-align: center"><a href="/" class="linkTitle">Timothy Lie</a></h1>
    <a class="link-style" href="/"> ↞ Go back ↞ </a>
    <br />
  </nav>
</div>

<div class="container-fluid view">
  <!-- Playlist Artwork, when clicked, opens a list with links to source -->
  <div class="text-center">
    <a href="https://itunes.apple.com/us/playlist/clarity/pl.ae8e3d8b2f8b41649391a120481710e1" target="_blank">
      <img src="/img/music/clarity.jpg" alt="..." class="img-thumbnail rounded mx-auto d-block">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Clarity </h3>
    <p> "Songs for a calm and focussed work session during the late night hours. These songs combined with the silence of the night stimulate creative minds." </p>
    <br /> <br />
  </div>

  <div class="text-center">
    <a href="https://itunes.apple.com/us/playlist/space-odyssey/pl.cca78b9b453b48669e2c66da4105cb73" target="_blank">
      <img src="/img/music/space-odyssey.jpg" alt="..." class="img-thumbnail rounded mx-auto d-block">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Space Odyssey </h3>
    <p> "A perfectly balanced mixtape for a higher state of mind. Great for creative minds to wander through their utmost imaginations and create edgy art masterpieces." </p>
    <br /> <br />
  </div>

  <div class="text-center">
    <a href="https://itunes.apple.com/us/playlist/%C3%A9kstasis/pl.19007cc95f1a40b99c0ca58b14fc9e24" target="_blank">
      <img src="/img/music/ekstasis.jpg" alt="..." class="img-thumbnail rounded mx-auto d-block">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Ékstasis </h3>
    <p> "According to Ancient Greek philosophy, ékstasis is the culmination of human possibility. I carefully selected these songs that ignite a fire in one's soul. A playlist for an euphoric state of mind." </p>
    <br /> <br />
  </div>

  <div class="text-center">
    <a href="https://itunes.apple.com/us/playlist/good-night/pl.3b21b1263cc14b2aac0ee7ca9bf49a0f" target="_blank">
      <img src="/img/music/good-night.jpg" alt="..." class="img-thumbnail rounded mx-auto d-block">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Good Night </h3>
    <p> "Carefully constructed tape for a peaceful night rest. Sweet dreams, brave heart." </p>
    <br /> <br />
  </div>

  <div class="text-center">
    <a href="https://itunes.apple.com/us/playlist/own-it/pl.6152ec52320346cd91b24f231e911368" target="_blank">
      <img src="/img/music/own-it.jpg" alt="..." class="img-thumbnail rounded mx-auto d-block">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> Own It </h3>
    <p> "You have to fight through some bad days to earn the best days of your life. Carefully crafted to boost your confidence. Own it." </p>
    <br /> <br />
  </div>

  <div class="text-center">
    <a href="https://itunes.apple.com/us/playlist/the-journey/pl.3eeb3b78577c4cb09898727ad696bd72" target="_blank">
      <img src="/img/music/the-journey.jpg" alt="..." class="img-thumbnail rounded mx-auto d-block">
    </a>
    <br />
  </div>
  <div class="text-center">
    <h3> The Journey </h3>
    <p> "Awaken the light within you. Your life's a journey, make it count!" </p>
    <br /> <br />
  </div>

  <a class="link-style"> Fin </a>
</div>

<%- include("partials/footer"); -%>
