<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/photos-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Photos </h3>
  <p class="link-style text">
    A photostream of my thoughts and moments. <br/><br/>By clicking on the photos, you will be redirected to MakersPlace where you'll be able to get a limited piece of my work on the Ethereum network.
  </p>
  <br /><br/>

  <!-- <p class="link-style">
    By clicking on the photos, you will be redirected to another website where you can own a limited piece of my work on the Ethereum network.
  </p>
  <br /><br/> -->

<!-- Photo, when clicked, opens a list with links to source -->

<!-- J.A. Pengel -->

<!-- <div class="text-center">
  <a href="https://makersplace.com/timothylie" target="_blank">
    <img src="/img/photos/IMG_ja_pengel.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Statue of J.A. Pengel </h3>
  <p class="text"> "Johan Adolf Pengel was the first Surinamese politician to make demands on the former colonial regime. He also gave the Surinamese folks a sense of dignity. Wacht even, weest gerust, alles komt terecht." </p>
  <p class="date"> Wed Mar 18 2020 </p>
  <br /> <br />
</div> -->

<!-- Independence Square of Suriname -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/sunday-morning-at-the-independence-square-of-suriname-1-of-9-20696//" target="_blank">
    <img src="/img/photos/IMG_independence_square_of_suriname.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Sunday morning at the Independence Square of Suriname </h3>
  <p class="text"> "It's the 3rd day since Suriname announced its first case of COVID-19, a pandemic of the 21st century. Although I was afraid of going out, I promised myself to get out of bed early in the morning just to stroll around the spot where folks usually bring out their birds on the Sundays. Today was as quiet as it could be. I felt awkward, not because of the situation, but because it's been a while since I've been strolling and taking photos of the streets in Paramaribo." </p>
  <p class="date"> Sun Mar 15 2020 </p>
  <br /> <br />
</div>

<!-- Letter to Danie -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/letter-to-danie-1-of-1-20553/" target="_blank">
    <img src="/img/photos/IMG_letter_to_danie.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Letter to Danie 🖤 </h3>
  <p class="text"> "In times of crisis, certain measures must be taken and things must be said before it's too late." </p>
  <p class="date"> Fri Mar 13 2020 </p>
  <br /> <br />
</div>

<!-- Tennis with fam -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/tennis-with-fam-2-of-4-19312/" target="_blank">
    <img src="/img/photos/IMG_tennis_with_fam.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Tennis with fam 🖤 </h3>
  <p class="text"> "It's been a while since we've played tennis together, but it feels like yesterday to me. Seeing them on the field made me reminisce the days when our uncle used to pick us up to play." </p>
  <p class="date"> Mon Jan 20 2020 </p>
  <br /> <br />
</div>

<!-- a way -->

<!-- <div class="text-center">
  <a href="https://makersplace.com/store/timothylie/a-way-1-of-9-13204/" target="_blank">
    <img src="/img/photos/IMG_a_way.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> a way </h3>
  <p class="text"> "You don’t need a lot of light to find a way." </p>
  <p class="date"> Thu Nov 07 2019 </p>
  <br /> <br />
</div> -->

<!-- Winter -->

<div class="text-center">
  <a href="https://makersplace.com/store/timothylie/winter-5-of-10-10451/" target="_blank">
    <img src="/img/photos/IMG_winter.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Winter </h3>
  <p class="text"> "There’s a fine line between tranquil and solitary depending on a person’s state of being." </p>
  <p class="date"> Tue Aug 27 2019 </p>
  <br /> <br />
</div>

  <a class="link-style"> Fin </a>
</div>

  <%- include("partials/footer"); -%>
