<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <img src="/img/icons/photos-original.png" alt="..." class="content-icon">
  <h3 class="title-style"> Photos </h3>
  <p class="link-style text">
    A photostream of my thoughts and moments. <br/><br/>By clicking on the photos, you will be redirected to MakersPlace where you'll be able to get a limited piece of my work on the Ethereum network.
  </p>
  <br /><br/>

<!-- Photo, when clicked, opens a list with links to source -->

<!-- Keys & Phrases -->

<!-- <div class="text-center">
  <a href="https://makersplace.com/timothylie" target="_blank">
    <img src="/img/photos/IMG_keys_phrases.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Keys & Phrases </h3>
  <p class="text"> "" </p>
  <p class="date"> Thu Apr 09 2020 </p>
  <br /> <br />
</div> -->

<!-- Keys & Phrases -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/keys-phrases-1-of-9-22776/" target="_blank">
    <img src="/img/photos/IMG_keys_phrases.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Keys & Phrases </h3>
  <p class="text"> "The moment you start talking and thinking about Bitcoin, it brings up a very difficult question: what is money? Most of us have no idea how money works. It’s one of those ancient technologies that is so deeply embedded in our culture that it has become completely invisible to us. At its very basic level, money isn’t value. You use money to get things of value like products or services, but there is no value in the money itself. Money is a language that human beings created to express value to each other. As a language, it’s one of the fundamental constructs of civilization that allows us to exceed what’s known as the Dunbar number. Money is also, ironically, a system of control. Controlling money confers great power to those who control it. As a result, kings and governments have always held a very tight control over money. Now that has changed. On January 3rd 2009, the world changed because some person(s) created a peer-to-peer protocol: a flat network with no central servers— all clients, that is able to express money as a content type. Money that is expressed purely as data, transmitted using any communication medium that can convey information. Pure information on a network that is simultaneously uncensorable, open to anyone, neutral, and global. There are no borders on this new technology, just like there are no borders on the internet. The real exciting thing about this technology is not the blockchain, which is a database artifact created out of this protocol, but the ability to achieve distributed consensus among parties that don’t trust each other, across great distances, without any central party, authority or intermediary. The world is now connected. Finance is now an application and money is a content type. Words of Andreas Antonopoulos." </p>
  <p class="date"> Thu Apr 09 2020 </p>
  <br /> <br />
</div>

<!-- Gold Coin -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/gold-coin-1-of-9-22464/" target="_blank">
    <img src="/img/photos/IMG_gold_coin.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Gold Coin </h3>
  <p class="text"> "There’s a difference between currency and money: Money must be a store of value and maintain its purchasing power over a long period. Gold and silver have proven over thousands of years to be the ultimate store of value. Gold is only formed when a star explodes - a supernova - and it stays around forever. This is one of the properties that makes gold the ultimate money. It keeps governments under control and maintains a solvent system. Governments don’t like gold because it imposes restraint —words of Mike Maloney." </p>
  <p class="date"> Mon Apr 06 2020 </p>
  <br /> <br />
</div>

<!-- Surinamese Guilder -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/surinamese-guilder-1-of-9-22159/" target="_blank">
    <img src="/img/photos/IMG_surinamese_guilder.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Surinamese Guilder </h3>
  <p class="text"> "The Surinamese Guilder was the fiat currency of Suriname until 2004 when the Surinamese Dollar replaced it. They - like all fiat currencies - are legal tenders whose value is backed by the government that issued it. It shares the same similarities with gold, but a crucial difference is that the government can create as much currency as they want, which in effect makes the currency lose value over time. It is not that goods are getting more expensive, but rather the currency losing its purchasing power."
  </p>
  <p class="date"> Fri Apr 03 2020 </p>
  <br /> <br />
</div>

<!-- Corrupt System -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/corrupt-system-1-of-9-21985/" target="_blank">
    <img src="/img/photos/IMG_corrupt_system.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Corrupt System </h3>
  <p class="text"> "The current banking system is corrupt. You may argue that all systems are or can be corrupted, even Bitcoin. And I agree. But the beauty of Bitcoin is that the code is open-source, and if you don’t agree with Bitcoiners, you can fork the code and make a new system. If Satoshi was a person of power, would he have given the code to the people or patented it since the beginning?"
  </p>
  <p class="date"> Tue Mar 31 2020 </p>
  <br /> <br />
</div>

<!-- Open Road -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/open-road-1-of-9-21741/" target="_blank">
    <img src="/img/photos/IMG_open_road.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Open Road </h3>
  <p class="text"> "I get why some governments still want to nationalize. One reason might be to stimulate the country’s economy by focussing on local production. But I think they are missing the big picture. Nationalization is a thing of the past. The world is now more interconnected than ever. Most of the end products are created through different parts and labor from all over the world. This interconnection is rare, yet here we are. I believe this is through free-market behavior. As the world is now amid a COVID-19 pandemic, working together is essential now more than ever. Ventilators, masks, medicine research - if we work together to get through this as global citizens, we just might come out stronger than ever."
  </p>
  <p class="date"> Sun Mar 29 2020 </p>
  <br /> <br />
</div>

<!-- Broken Country -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/broken-country-1-of-9-21547/" target="_blank">
    <img src="/img/photos/IMG_broken_country.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Broken Country </h3>
  <p class="text"> "The New York Times 25/Mar/2020 Economic Crisis Prompts a Showdown, and a Shutdown, in Suriname. Prosperity is taken from people time and again by mismanagement of governments through central banking. In the words of Mike Maloney: True wealth is your time and freedom. Money is just a tool for trading your time, a container to store your economic energy until you are ready to deploy it. But the whole world has been turned away from real money and has been fooled into using currency, a deceitful imposter that is silently stealing your two most valuable assets - your time and freedom." </p>
  <p class="date"> Thu Mar 26 2020 </p>
  <br /> <br />
</div>

<!-- Bitcoin v. Banks of Suriname -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/bitcoin-v-banks-of-suriname-1-of-9-21406/" target="_blank">
    <img src="/img/photos/IMG_bitcoin_v_banksofsuriname.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Bitcoin v. Banks of Suriname </h3>
  <p class="text"> "Until 1957, De Surinaamsche Bank acted as the default issuer of currency. The Central Bank of Suriname is currently Suriname's highest monetary authority and the country's governing body in monetary and economic affairs. The problem with central banks issuing currency is that they have the power to create as much as they want, hence flooding the market, which affects the purchasing power. Bitcoin fixes this by being the first decentralized peer-to-peer network with no central authority and a limited supply. It is borderless, and you have total control and authority over your Bitcoin. Transactions cannot be frozen or intercepted, it cannot be censored, and it cannot be stopped. By opting out of the central bank system, it means removing the power that politically-driven entities have on your life's savings." </p>
  <p class="date"> Tue Mar 24 2020 </p>
  <br /> <br />
</div>

<!-- Folks of Suriname -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/folks-of-suriname-2-of-11-20951/" target="_blank">
    <img src="/img/photos/IMG_folks_suriname.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Folks of Suriname </h3>
  <p class="text"> "Folks aren’t happy nowadays in Suriname ... it may be partly due to our current economic situation. The Surinamese Dollar lost almost 80% of its value since the presidency of Desi Bouterse in 2010. If the country would’ve adopted Bitcoin, things might have been different this time around." </p>
  <p class="date"> Thu Mar 19 2020 </p>
  <br /> <br />
</div>

<!-- J.A. Pengel -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/statue-of-jopie-pengel-2-of-9-20956/" target="_blank">
    <img src="/img/photos/IMG_jopie_pengel.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Statue of Jopie Pengel </h3>
  <p class="text"> "Johan Adolf Pengel was the first Surinamese politician in the 19th century to make demands on the former colonial regime. He also gave the Surinamese folks a sense of dignity. Wacht even, weest gerust, alles komt terecht." </p>
  <p class="date"> Wed Mar 18 2020 </p>
  <br /> <br />
</div>

<!-- Independence Square of Suriname -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/sunday-morning-at-the-independence-square-of-suriname-1-of-9-20696/" target="_blank">
    <img src="/img/photos/IMG_independence_square_of_suriname.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Sunday morning at the Independence Square of Suriname </h3>
  <p class="text"> "It's the 3rd day since Suriname announced its first case of COVID-19, a pandemic of the 21st century. Although I was afraid of going out, I promised myself to get out of bed early in the morning just to stroll around the spot where folks usually bring out their birds on the Sundays. Today was as quiet as it could be. I felt awkward, not because of the situation, but because it's been a while since I've been strolling and taking photos of the streets in Paramaribo." </p>
  <p class="date"> Sun Mar 15 2020 </p>
  <br /> <br />
</div>

<!-- Letter to Danie -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/letter-to-danie-1-of-1-20553/" target="_blank">
    <img src="/img/photos/IMG_letter_to_danie.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Letter to Danie 🖤 </h3>
  <p class="text"> "In times of crisis, certain measures must be taken and things must be said before it's too late." </p>
  <p class="date"> Fri Mar 13 2020 </p>
  <br /> <br />
</div>

<!-- Tennis with fam -->

<div class="text-center">
  <a href="https://makersplace.com/timothylie/tennis-with-fam-2-of-4-19312/" target="_blank">
    <img src="/img/photos/IMG_tennis_with_fam.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Tennis with fam 🖤 </h3>
  <p class="text"> "It's been a while since we've played tennis together, but it feels like yesterday to me. Seeing them on the field made me reminisce the days when our uncle used to pick us up to play." </p>
  <p class="date"> Mon Jan 20 2020 </p>
  <br /> <br />
</div>

<!-- a way -->

<!-- <div class="text-center">
  <a href="https://makersplace.com/store/timothylie/a-way-1-of-9-13204/" target="_blank">
    <img src="/img/photos/IMG_a_way.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> a way </h3>
  <p class="text"> "You don’t need a lot of light to find a way." </p>
  <p class="date"> Thu Nov 07 2019 </p>
  <br /> <br />
</div> -->

<!-- Winter -->

<div class="text-center">
  <a href="https://makersplace.com/store/timothylie/winter-5-of-10-10451/" target="_blank">
    <img src="/img/photos/IMG_winter.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3 class="text"> Winter </h3>
  <p class="text"> "There’s a fine line between tranquil and solitary depending on a person’s state of being." </p>
  <p class="date"> Tue Aug 27 2019 </p>
  <br /> <br />
</div>

  <a class="link-style"> Fin </a>
</div>

  <%- include("partials/footer"); -%>
