<%- include("partials/header"); -%>

<div class="container-fluid">
  <%- include("partials/navigation"); -%>
</div>

<div class="container-fluid view">
  <h2 class="title-style"> 📷 </h2>
  <h3 class="title-style"> Photos </h3>
  <p class="link-style text">
    A photostream of my thoughts and moments. <br/><br/>By clicking on the photos, you will be redirected to KnownOrigin or MakersPlace where you'll be able to get a limited piece of my or my friends' work on the Ethereum network.
  </p>
  <br /><br/>

  <!-- <p class="link-style">
    By clicking on the photos, you will be redirected to another website where you can own a limited piece of my work on the Ethereum network.
  </p>
  <br /><br/> -->

<!-- Photo, when clicked, opens a list with links to source -->
<div class="text-center">
  <a href="https://knownorigin.io/edition/85625" target="_blank">
    <img src="/img/photos/IMG_tell_me_a_story.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3> Tell me a story </h3>
  <p> "From ancient times, fantasies to a traveler's adventure, wonderful stories are to be told." </p>
  <br /> <br />
</div><br/>

<div class="text-center">
  <a href="https://knownorigin.io/edition/85275" target="_blank">
    <img src="/img/photos/IMG_JIV_art_inverted.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3> Darkness </h3>
  <p> "The spectrum of my life is either in a very dark space, or a calm one. I yet have to master in between." </p>
  <br /> <br />
</div><br/>

<div class="text-center">
  <a href="https://makersplace.com/store/timothylie/winter-5-of-10-10451/" target="_blank">
    <img src="/img/photos/IMG_7300.jpg" alt="..." class="img-full">
  </a>
  <br />
</div>
<div class="text-center">
  <h3> Winter </h3>
  <p> "There’s a fine line between tranquil and solitary depending on a person’s state of being." </p>
  <br /> <br />
</div>

  <a class="link-style"> Fin </a>
</div>

  <%- include("partials/footer"); -%>
