<%- include("partials/header"); -%>

<div class="container-fluid">
  <nav class="navbar navbar-fixed-top dark">
    <h1 style"text-align: center"><a href="/" class="linkTitle">Timothy Lie</a></h1>
  </nav>
</div>


<div class="container-fluid view">
  <% posts.forEach(function(post){ %>

        <p> "<%=post.content%>" </p>
        <p class="date"> <%=post.date.toDateString()%> </p>
        <h4> . </h4>

  <% }) %>

  <a href="/"> Go back </a>
</div>

<%- include("partials/footer"); -%>
