/* Navbar */
.linkTitle, .linkTitle:active, .linkTitle:hover {
  color: #fff;
  text-decoration: none;
}

.navbar {
  background-color: #000;
  padding-bottom: 1rem;
}

/* Body */
body {
  font-family: serif;
  /* font-weight: bold; */
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
}

.home {
  margin-top: 20%;
}

.view {
  padding-top: 10rem;
}

a, a:hover {
  color: #fff;
}

hr {
  border: none;
  height: 1px;
  background-color: #fff;
}

textarea {
  text-align: center;
}

.btn {
  background-color: #555;
}

.btn:hover {
  background-color: #bbb;
  color: #222;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -80%);
}

.date {
  font-size: 1.2rem;
  color: #888;
}

@media (max-width: 600px) {
  .home {
    margin-top: 12%;
  }
}

/* @viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}
@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
} */
