/* Navbar */
body.dark .linkTitle,
body.dark .linkTitle:active,
body.dark .linkTitle:hover {
  color: #ddd;
  text-decoration: none;
}

body.light .linkTitle,
body.light .linkTitle:active,
body.light .linkTitle:hover {
  color: #111;
  text-decoration: none;
}

.navbar {
  padding-bottom: 1rem;
}

/* Body */
body {
  font-family: serif;
  /* font-weight: bold; */
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
}

button {
  background-image: none;
}

.home {
  margin-top: 5%;
}

.view {
  padding-top: 15rem;
  margin-bottom: 10%;
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
}

textarea {
  text-align: center;
}

input {
  text-align: center;
}

.btn:hover {
  background-color: #bbb;
  color: #222;
}

.link-style {
  font-style: italic;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -80%);
}

.view {
  margin-top: 2rem;
}

.portfolio {
  margin-top: 12rem;
}

.date {
  font-size: 1.2rem;
  color: #888;
}

.moodButton {
  margin-top: 1rem;
  width: 10rem;
  height: 2rem;
  border-radius: 0rem;
  border: 0px;
}

.chart-container {
  position: relative;
  height: 100vh;
  width: 100vh;
}

.link-icons {
  font-size: 15px;
}

/* IMAGES */
.img-playlist {
  display: inline-block;
  width: 20%;
}

.img-preview {
  display: inline-block;
  width: 50%;
}

/* Dark/Light mode for body */
body.dark {
  background-color: #111;
  color: #ddd;
}
body.dark a,
body.dark a:visited {
  color: #ddd;
}
body.dark .navbar {
  background-color: #111;
}

body.dark .moodButton {
  background-color: #ddd;
}

body.dark .btn {
  background-color: #ddd;
  color: #111;
}

body.dark .link-style,
body.dark .link-style:visited {
  color: #888;
}

body.light {
  background-color: #ddd;
  color: #111;
}
body.light a,
body.light a:visited {
  color: #111;
}
body.light .navbar {
  background-color: #ddd;
}

body.light .moodButton {
  background-color: #111;
}

body.light .btn {
  background-color: #111;
  color: #ddd;
}

body.light .link-style,
body.light .link-style:visited {
  color: #555;
}

/* iPhone formats */
@media (max-width: 600px) {
  .home {
    margin-top: 12%;
  }

  .img-playlist {
    width: 60%;
  }

  .link-icons {
    font-size: 1.5rem;
  }
}

/* iPhone and iPad formats */
@media (max-width: 770px) {
  .img-preview {
    width: 100%;
  }
}
